html, body {
    margin: 0;
    
}

:root {
    --primary-color: white; 
    --secondary-color: black;
    --tertiary-color: #e5e7eb;
}

body {
   
    height: 100vh;
}
#content {
    height: 100%;
    display: grid;
    grid-template-rows: minmax(100px, .5fr) minmax(300px, 3fr) minmax(100px, .25fr);

    background: linear-gradient(
        rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)),
        url("/foodpic.jpeg"); 
}

.nav, .main, .footer {
    border: .5px solid var(--secondary-color);
    
}

.main {

   
}

.nav {
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar{
    display: flex; 
    justify-content: right;
    align-items: center;
    gap: 15px;
    margin-right: 35px;
}

.navbar>div {
    color: var(--secondary-color);
   border: var(--secondary-color) solid 1px;
   height: 60px;
   width: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
 
}

.navbar>div:hover {
    background-color: var(--tertiary-color);
}

